@media screen and (min-width:850px){
header{
    height: 450px;
    background-image: url('pictures/header_image.jpg');
    background-position: top center;
    background-size: cover;
    background-repeat: none;
    margin-top: 50px;
}


h1{
    font-family: 'open-sans';
    font-weight: 700;
    font-size: 75px;
    margin: 50px 0 0 30px;
    padding: 100px 0 0 30px;
}

#index-header h2{
    font-size: 16px;
    font-weight: bold;
    margin: 10px auto auto 80px;
}

.input-group-text{
    width: 200px;
    font-family: 'open-sans';
    font-size: 20px;
    font-weight: bold;
}

.form-control{
    font-family: 'open-sans';
    font-size: 20px;
    font-weight: normal;
    font-style: italic;
}

.input-group{
    margin-bottom: 20px;
    width: 600px;
}

.btn-outline-secondary:hover{
    background-color: green;
    font-weight: bold;
    color: black;
}

.form-select option{
    font-family: 'open-sans'!important;
    font-size: 20px;
    font-weight: normal;
}

#register-main{
    width: 100%;
    margin: 80px 0 50px 0px;
    display: flex;
    flex-direction: column;
}

#register-heading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 10px 80px;
}

#register-heading h1, p{
    margin: 0;
    padding: 0 0 10px 0;
}

#register-heading p{
    margin: 40px 80px 0 0;
    font-size: 18px;
    font-family: 'open-sans',Arial, Helvetica, sans-serif;
    
}

.container{
    justify-content: center;
    width: 620px;
}

.card-img-top{
    width: 100%;
    height: 200px;
}

.row{
    margin: 30px auto 10px 40px;
}

.btn-primary{
    background: green;
    text-align: center;
    margin: auto auto auto 60px;
}
}

@media screen and (max-width:850px){
    .navbar{
        width: 100%;
    }

    .navbar-brand{
        font-size: 14px;
    }

    #admin{
        display: none;
    }
    header{
        height: 300px;
        background-image: url('header_image.jpg');
        background-position: top center;
        background-size: cover;
        background-repeat: none;
        margin-top: 50px;
    }
    
    
    h1{
        font-family: 'open-sans';
        font-weight: 700;
        font-size: 40px;
        margin: 50px 0 0 10px;
        padding: 120px 0 0 5px;
    }

    .input-group-text{
        width: 150px;
        font-family: 'open-sans';
        font-size: 16px;
        font-weight: bold;
    }
    
    .form-control{
        font-family: 'open-sans';
        font-size: 20px;
        font-weight: normal;
        font-style: italic;
    }
    
    .input-group{
        margin-bottom: 20px;
        width: 400px;
    }
    
    .btn-outline-secondary:hover{
        background-color: green;
        font-weight: bold;
        color: black;
    }
    .form-select option, .form-select[selected]{
        font-family: 'open-sans'!important;
        font-size: 20px;
        font-weight: bold;
    }
    
    #register-main{
        width: 100%;
        margin: 80px 0 50px 0px;
        display: flex;
        flex-direction: row;
    }
    
    .container{
        justify-content: center;
        width: 420px;
    }
}